/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace s "library://ns.adobe.com/flex/spark";
@namespace esri "http://www.esri.com/2008/ags";
@namespace components "components.*";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace local "*";
@namespace s "library://ns.adobe.com/flex/spark";
@font-face {
	src: url("font/Ubuntu-R.ttf");
	fontFamily: "ubuntu";
	embedAsCFF: false;
}

@font-face {
	src: url("font/Ubuntu-B.ttf");
	fontFamily: "ubuntu";
	fontWeight: bold;
	embedAsCFF: false;
}

@font-face {
	src: url("font/Ubuntu-BI.ttf");
	fontFamily: "ubuntu";
	fontWeight: bold;
	fontStyle: "italic";
	embedAsCFF: false;
}

@font-face {
	src: url("font/Ubuntu-RI.ttf");
	fontFamily: "ubuntu";
	fontStyle: "italic";
	embedAsCFF: false;
}

@font-face {
	src: url("font/Ubuntu-R.ttf");
	fontFamily: "ubuntuCFF";
	embedAsCFF: true;
}

@font-face {
	src: url("font/Ubuntu-B.ttf");
	fontFamily: "ubuntuCFF";
	fontWeight: bold;
	embedAsCFF: true;
}

@font-face {
	src: url("font/Ubuntu-BI.ttf");
	fontFamily: "ubuntuCFF";
	fontWeight: bold;
	fontStyle: "italic";
	embedAsCFF: true;
}

@font-face {
	src: url("font/Ubuntu-RI.ttf");
	fontFamily: "ubuntuCFF";
	fontStyle: "italic";
	embedAsCFF: true;
}
s|Label{
	fontFamily: "ubuntuCFF";
}
s|TextInput {
	skinClass: ClassReference("spark.skins.mobile.TextInputSkin");
	showPromptWhenFocused:false;
	fontFamily: "ubuntu";
}
s|TextArea {
	skinClass: ClassReference("spark.skins.mobile.TextAreaSkin");
	fontFamily: "ubuntu";
}
s|ActionBar
{
	
	defaultButtonAppearance: normal;
	skinClass: ClassReference("spark.skins.mobile.ActionBarSkin");
	textShadowAlpha: .65;
	textShadowColor: #000000;
	paddingLeft: 0;
	paddingRight: 0;
	paddingTop: 2;
	chromeColor: #0a4c77;
	titleAlign: center;
	fontFamily: "ubuntu";

}

s|ActionBar #titleDisplay
{
	color: #FFFFFF; /* default color is white */
	fontSize: 20;
	fontFamily: "ubuntu";
}
s|TabbedViewNavigator #tabBar
{
	chromeColor: #FFFFFF;
	color: #231F20;
	fontSize: 12;
	fontWeight: normal;
	iconPlacement: top;
	interactionMode: mouse;
	fontFamily: "ubuntu";
}

s|List
{
	color: #272727;
	selectionColor: #DDE0E7;
	downColor: #DDE0E7;
}


.inputField
{
	borderVisible: false;
	contentBackgroundColor: #FFFFFF;
}

.inputFieldLabel
{
	color: #666666;
}




/*
.leftNav s|ActionBar 
{
	skinClass: ClassReference("skins.LeftActionBarSkin");	
}

.rightNav s|ActionBar 
{
	skinClass: ClassReference("skins.RightActionBarSkin");	
}
*/


.title
{
	fontWeight: bold;
	fontSize: 20;
}

.subtle {
	color: #838484;
}


.expenseDate {
	fontWeight: normal;
	color: #838484;
}

.expenseAmount {
	color: #000000;
	fontWeight: bold;
}
