/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace esri "http://www.esri.com/2008/ags";
@namespace components "components.*";
@namespace s "library://ns.adobe.com/flex/spark";
@font-face {
	src: url("font/Ubuntu-R.ttf");
	fontFamily: "ubuntu";
	embedAsCFF: false;
}

@font-face {
	src: url("font/Ubuntu-B.ttf");
	fontFamily: "ubuntu";
	fontWeight: bold;
	embedAsCFF: false;
}

@font-face {
	src: url("font/Ubuntu-BI.ttf");
	fontFamily: "ubuntu";
	fontWeight: bold;
	fontStyle: "italic";
	embedAsCFF: false;
}

@font-face {
	src: url("font/Ubuntu-RI.ttf");
	fontFamily: "ubuntu";
	fontStyle: "italic";
	embedAsCFF: false;
}

@font-face {
	src: url("font/Ubuntu-R.ttf");
	fontFamily: "ubuntuCFF";
	embedAsCFF: true;
}

@font-face {
	src: url("font/Ubuntu-B.ttf");
	fontFamily: "ubuntuCFF";
	fontWeight: bold;
	embedAsCFF: true;
}

@font-face {
	src: url("font/Ubuntu-BI.ttf");
	fontFamily: "ubuntuCFF";
	fontWeight: bold;
	fontStyle: "italic";
	embedAsCFF: true;
}

@font-face {
	src: url("font/Ubuntu-RI.ttf");
	fontFamily: "ubuntuCFF";
	fontStyle: "italic";
	embedAsCFF: true;
}

s|Label
{
	fontFamily: "ubuntuCFF";
}


s|LabelItemRenderer
{
	fontFamily: "ubuntu";
}

s|ActionBar
{	
	defaultButtonAppearance: normal;
	skinClass: ClassReference("spark.skins.mobile.ActionBarSkin");
	textShadowAlpha: .65;
	textShadowColor: #000000;
	paddingLeft: 0;
	fontFamily: "ubuntu";
	paddingRight: 0;
	paddingTop: 2;
	chromeColor: #0a4c77;
	titleAlign: center;
}
s|ActionBar #titleDisplay
{
	color: #c0cad3; /* default color is white */
	fontSize: 20;
	fontFamily: "ubuntu";
}
s|TabbedViewNavigator #tabBar
{
	chromeColor: #d26d1e;
	color: #d7c9b9;
	fontSize: 12;
	fontWeight: normal;
	skinClass: ClassReference("skins.TabbedViewNavigatorTabBarSkin");
	iconPlacement: top;
	interactionMode: mouse;
	fontFamily: "ubuntu";
	textShadowAlpha: 0;
	
	
}
s|TabbedViewNavigator s|ButtonBarButton:upAndSelected,
s|TabbedViewNavigator s|ButtonBarButton:overAndSelected,
s|TabbedViewNavigator s|ButtonBarButton:downAndSelected
{
	chromeColor: #d7c9b9;
	color: #e8d9c8;
}

s|TabbedViewNavigator s|ButtonBarButton:up
{
	color: #e8d9c8;
}

@media (application-dpi: 240)
{
	s|TabbedViewNavigator #tabBar
	{
		fontSize: 14;
	}
}

@media (application-dpi: 320)
{
	s|TabbedViewNavigator #tabBar
	{
		fontSize: 20;
	}
}
s|List
{
	color: #272727;
	selectionColor: #DDE0E7;
	downColor: #DDE0E7;
}


.inputField
{
	borderVisible: false;
	contentBackgroundColor: #FFFFFF;
}

.inputFieldLabel
{
	color: #666666;
}

components|ExpenseInfo
{
	skinClass:ClassReference("skins.ExpenseInfoSkin");
}

esri|InfoSymbolWindow
{
	skinClass: ClassReference("com.esri.ags.skins.InfoSymbolWindowSkin");
	paddingLeft: 3;
	paddingRight: 3;
	paddingTop: 3;
	paddingBottom: 3;
	backgroundColor: #FFFFFF;
	backgroundAlpha: 1.0;
	borderThickness: 1;
	borderColor: #999999;
	borderAlpha: 1.0;
	upperLeftRadius: 0;
	upperRightRadius: 10;
	lowerLeftRadius: 10;
	lowerRightRadius: 0;
	infoPlacementMode: auto;
	infoPlacement: top;
	infoOffsetX: 10;
	infoOffsetY: 20;
	infoOffsetW: 5;
	shadowDistance: 0.0;
	shadowAlpha: 1.0;
	shadowAngle: 45.0;
	shadowColor: #000000;
}


/*
.leftNav s|ActionBar 
{
	skinClass: ClassReference("skins.LeftActionBarSkin");	
}

.rightNav s|ActionBar 
{
	skinClass: ClassReference("skins.RightActionBarSkin");	
}
*/


.title
{
	fontWeight: bold;
	fontSize: 20;
}

.subtle {
	color: #838484;
}


.expenseDate {
	fontWeight: normal;
	color: #838484;
}

.expenseAmount {
	color: #000000;
	fontWeight: bold;
}
